{% extends 'base.html' %}
{% load static %}

{% block title %}
Vote It | Candidate
{% endblock title %}

{% block styles %}
	<style>
		p{
			margin-bottom: 3px;
		}
	</style>
{% endblock styles %}

{% block main %}

	<div class="container-wrap">

		<div id="fh5co-blog">
			<div class="row">
				<div class="col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#" class="blog-bg" style="background-image: url({% static 'images/face1.jpg' %});"></a>
						<div class="blog-text">
							<!-- <span class="posted_on">Progressive Alliance</span> -->
							<h3><a href="#">Michael Rodriguez</a></h3>
							<p>June 10, 1975</p>
							<p>Age: 49</p>
							<p>Springfield, USA</p>

						</div> 
					</div>
				</div>
				<div class="col-md-8">
					<div class="fh5co-blog animate-box">
						<div class="blog-text">
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">political organization: &nbsp;&nbsp;</h3><p style="display: inline;">Progressive Alliance</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">Degrees Earned: &nbsp;&nbsp;</h3><p style="display: inline;">Bachelor's in Business Administration, Master's in Economics</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">Previous Job Positions: &nbsp;&nbsp;</h3><p style="display: inline;">Business Consultant, Marketing Manager</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">Relevant Work Experience: &nbsp;&nbsp;</h3><p style="display: inline;">15 years in corporate strategy and management</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">Notable Achievements: &nbsp;&nbsp;</h3><p style="display: inline;">Implemented cost-saving measures resulting in 20% increase in company revenue</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">Vision for the Community or Country: &nbsp;&nbsp;</h3><p style="display: inline;">To create more job opportunities and improve access to affordable healthcare</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">Goals and Objectives if Elected: &nbsp;&nbsp;</h3><p style="display: inline;">Reduce unemployment rates, advocate for healthcare reform</p></span><hr>
							<span class="new-line"><h3 style="display: inline;font-size: 1.4rem;">political organization: &nbsp;&nbsp;</h3><p style="display: inline;">Progressive Alliance</p></span>


						</div> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="padding: 0 5rem;">
					<p style="margin-bottom: 2rem;">Michael Rodriguez is a dynamic and visionary leader whose unwavering commitment to social justice and legal advocacy has defined her career. With over 12 years of experience as an attorney and legal advisor, Michael has dedicated herself to fighting for the rights of marginalized communities and advancing the cause of equality.</p>
					<p style="margin-bottom: 2rem;">Born and raised in Los Angeles, Michael developed a deep-seated passion for justice from a young age. After earning her Bachelor's degree in Law and subsequently obtaining her Juris Doctorate, she embarked on a career path focused on making a tangible difference in the lives of others.</p>
					<p style="margin-bottom: 2rem;">Throughout her career, Michael has been a tireless advocate for those whose voices are often silenced or marginalized. Her work has spanned a wide range of issues, from civil liberties to equality and access to justice. Michael's legal acumen and strategic approach have enabled her to successfully litigate landmark cases that have set important legal precedents and secured vital protections for vulnerable populations.</p>
					<p style="margin-bottom: 2rem;">Michael's vision for the community and the country is one of inclusivity, fairness, and opportunity for all. She firmly believes that every individual deserves access to their fundamental rights and freedoms, regardless of background or circumstance. Michael is committed to addressing systemic inequalities and advocating for policies that promote fairness, justice, and social progress.</p>
					<p style="margin-bottom: 2rem;">If elected, Michael's primary objectives include strengthening human rights protections, advocating for criminal justice reform, and promoting policies that address social and economic disparities. She is dedicated to working collaboratively with stakeholders to enact meaningful change and create a more just and equitable society</p>
					<p style="margin-bottom: 2rem;">Michael's leadership style is characterized by integrity, compassion, and a deep sense of empathy for those she serves. She is known for her ability to bring people together, bridge divides, and find common ground in pursuit of shared goals. Michael's passion for justice, coupled with her strategic vision and unwavering commitment to making a difference, make her a formidable candidate who is ready to lead with conviction and compassion.</p>
			</div>
			</div>
		</div>
	</div><!-- END container-wrap -->

{% endblock main %}